<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480972491309-693k4r6nbrdvnarm4bl85870us07btvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480972491309-693k4r6nbrdvnarm4bl85870us07btvu</string>
	<key>API_KEY</key>
	<string>AIzaSyAs-gqTM8JGPcci0j-Jlql72O1qPa81zyc</string>
	<key>GCM_SENDER_ID</key>
	<string>480972491309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sid.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-b3a7b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-b3a7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480972491309:ios:5d7bf535139a1b36f306a4</string>
</dict>
</plist>